<div class="toolbar">
  <button mat-button (click)="selectAll()">Select all</button>
  <button mat-button (click)="deselectAll()">Deselect all</button>
  <button mat-button (click)="recreateData()">Recreate data</button>
</div>
<cdk-virtual-scroll-viewport class="task-viewport" itemSize="40">
  <div
    class="task-row"
    *cdkVirtualFor="let row of rows(); trackBy: trackBy"
    [class.task-row--selected]="isSelected(row)"
  >
    <mat-checkbox [checked]="isSelected(row)" (change)="toggle(row)">
    </mat-checkbox>
    <span class="task-row__title">{{ row.title }}</span>
  </div>
</cdk-virtual-scroll-viewport>
